[Unit]
Description=Zookeeper Service
After=network.target

[Service]
Environment=JAVA_HOME={{ java_home }}
Environment=ZOO_LOG_DIR={{ zookeeper_log_dir }}
Type=forking
User=vagrant
ExecStart={{ zookeeper_home }}/bin/zkServer.sh start
ExecStop={{ zookeeper_home }}/bin/zkServer.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
