[Unit]
Description=Cassandra Service
After=network.target

[Service]
Environment=JAVA_HOME={{ java_home }}
Type=forking
User=vagrant
ExecStart={{ cassandra_home }}/bin/cassandra -R -p {{ cassandra_pid }}
ExecStop=cat {{ cassandra_pid }} | kill
Restart=always
TimeoutSec=120

[Install]
WantedBy=multi-user.target
