127.0.0.1   localhost
::1         localhost ip6-localhost ip6-loopback

{% for item in groups['all'] %}
{% if 'ansible_eth1' in hostvars[item] %}
{{ hostvars[item]['ansible_eth1']['ipv4']['address'] }} {{ item }}
{% endif %}
{% endfor %}
