[Unit]
Description=Cassandra Service
After=network.target

[Service]
Environment=JAVA_HOME=/usr/java/default
Type=forking
User=vagrant
ExecStart=/opt/cassandra/cassandra start
ExecStop=/opt/cassandra/cassandra stop
Restart=always
TimeoutSec=120

[Install]
WantedBy=multi-user.target
