[Unit]
Description=Flink
After=yarn.service

[Service]
Environment=JAVA_HOME=/usr/java/default
Environment=HADOOP_CONF_DIR=/opt/hadoop/etc/hadoop
Type=simple
User=vagrant
ExecStart=/opt/flink/bin/yarn-session.sh -n 3 -jm 768 -tm 768 -s 2 -d
#ExecStop=echo stop | /opt/flink/bin/yarn-session.sh -id 
Restart=always

[Install]
WantedBy=multi-user.target
