[Unit]
Description=HDFS
After=network.target

[Service]
Environment=JAVA_HOME=/usr/java/default
Type=forking
User=vagrant
ExecStart=/opt/hadoop/sbin/start-dfs.sh
ExecStop=/opt/hadoop/sbin/stop-dfs.sh
Restart=always

[Install]
WantedBy=multi-user.target
