[Unit]
Description=Spark Service
After=network.target

[Service]
Type=forking
User=root
ExecStart=/opt/spark/sbin/start-slave.sh spark://192.168.10.11:7077
ExecStop=/opt/spark/sbin/stop-slave.sh
Restart=always

[Install]
WantedBy=multi-user.target
