[Unit]
Description=YARN
After=network.target

[Service]
Environment=JAVA_HOME=/usr/java/default
Type=forking
User=vagrant
ExecStart=/opt/hadoop/sbin/start-yarn.sh
ExecStop=/opt/hadoop/sbin/stop-yarn.sh
Restart=always

[Install]
WantedBy=multi-user.target
