[Unit]
Description=Zookeeper Service
After=network.target

[Service]
Environment=JAVA_HOME=/usr/java/default
Type=forking
User=vagrant
ExecStart=/opt/zookeeper/zookeeper start
ExecStop=/opt/zookeeper/zookeeper stop
Restart=always

[Install]
WantedBy=multi-user.target
