<?xml version="1.0"?>
<configuration>
	<property>
		<name>fs.defaultFS</name>
		<value>hdfs://{{ groups['hadoop-master'][0] }}</value>
	</property>
	<property>
		<name>dfs.namenode.rpc-bind-host</name>
		<value>0.0.0.0</value>
	</property>
	<property>
		<name>dfs.namenode.servicerpc-bind-host</name>
		<value>0.0.0.0</value>
	</property>
	<property>
		<name>dfs.namenode.http-bind-host</name>
		<value>0.0.0.0</value>
	</property>
	<property>
		<name>dfs.namenode.https-bind-host</name>
		<value>0.0.0.0</value>
	</property>	
	<property>
		<name>dfs.client.use.datanode.hostname</name>
		<value>true</value>
	</property>
	<property>
		<name>dfs.datanode.use.datanode.hostname</name>
		<value>true</value>
	</property>
</configuration>
