[Unit]
Description=HDFS Service
After=network.target

[Service]
Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_PREFIX={{ hadoop_home }}
Environment=HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
Type=forking
User=vagrant
ExecStart={{ hadoop_home }}/sbin/start-dfs.sh
ExecStop={{ hadoop_home }}/sbin/stop-dfs.sh
Restart=always

[Install]
WantedBy=multi-user.target
