[Unit]
Description=HDFS Namenode Service
After=network.target
Wants=hdfs-namenode.service

[Service]
Type=forking
User=vagrant
Environment=JAVA_HOME=/usr/java/latest
Environment=HADOOP_PREFIX={{ hadoop_home }}
Environment=HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
ExecStart={{ hadoop_home }}/bin/hdfs --config $HADOOP_CONF_DIR --daemon start datanode
ExecStop={{ hadoop_home }}/bin/hdfs --config $HADOOP_CONF_DIR --daemon stop datanode
Restart=on-failure

[Install]
WantedBy=multi-user.target
