[Unit]
Description=YARN service
After=network.target
Wants=yarn-resourcemanager.service

[Service]
Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
Type=forking
User=vagrant
ExecStart={{ hadoop_home }}/sbin/yarn-daemon.sh --config $HADOOP_CONF_DIR start nodemanager
ExecStop={{ hadoop_home }}/sbin/yarn-daemon.sh --config $HADOOP_CONF_DIR stop nodemanager
Restart=on-failure

[Install]
WantedBy=multi-user.target
